:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f3f7;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: flex-end;
    button {
        background-color: rgb(196, 196, 238);

    }
}