.main-products {
    max-width: 1000px;
    margin: 0 auto;
    table {
        width: 100%;
        .button-group {
            button {
                width: 75px;
                margin-right: 15px;
            }
        }
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}