<div class="main-card">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{item?.name}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{item?.description}}</p>
      <p><b>Created:</b> {{item?.createdAt | date}}</p>
      <p *ngIf="item?.editedAt"><b>Edited:</b> {{item?.editedAt | date}}</p>
    </mat-card-content>
  </mat-card>
</div>
